{% extends "layout.html.twig" %}

{% block content %}
    <div style="color: white;">

        Overall, {{ user }} is {{ type }} {{ sentiment }} about {{ topic }}<br />

        {% if echo_chamber %}
            Oh no, echo... echo...
        {% else %}
            They're not in an echo chamber!
        {% endif %}
        <br />
        {% for friend in friends %}
            <a href="topic?username={{ friend.screen_name }}&topic={{ topic }}">{{ friend.screen_name }}</a><br />
        {% endfor %}
    </div>


{% endblock %}
