{% extends "layout.html.twig" %}

{% block content %}
    <div style="color: white; font-family: 'Roboto', sans-serif !important;" xmlns="http://www.w3.org/1999/html">
        <div style="text-align: center">
            <img src="{{ user_info.profile_image_url_https | replace({'_normal': ''})}}" style="border-radius: 50%; margin: 10px; width: 200px; border: solid 2px white " >
            <h1 style="text-align: center; font-size: 30px"><a href="https://www.twitter.com/{{ user }}" style="color: white">@{{ user }}</a></h1>
        </div>
        <div style="text-transform: uppercase; font-size: 40px;">
            <p style="text-align: center; line-height: 1.1">
                is
                {% if user_sentiment >= 0.7 or user_sentiment <= -0.7 %}
                    very
                {% elseif (user_sentiment >= 0.4 and user_sentiment < 0.7) or (user_sentiment <= -0.4 and user_sentiment > - 0.7)%}
                    fairly
                {% endif %}

                {% if user_sentiment >= 0.4 %}
                    positive
                {% elseif user_sentiment <= -0.4%}
                    negative
                {% else %}
                    neutral
                {% endif %}

                <br />
                and <strong>{{ echo_chamber ? 'is' : 'is not' }}</strong> in an <br />
                echo chamber for<br />
                "{{ topic }}"
            </p>
        </div>

        {% if topic == "holidays in scotland" %}
        <div style="text-align: center; max-width: 800px; margin-left: auto; margin-right: auto; padding-left: 20px; padding-right: auto;">
            <style>
                .interesting-links__title {
                    border-top: 1px solid #4e6c9d;
                    padding-top: 20px;
                    margin-top: 20px;
                }

                .interesting-links a {
                    color: #fff;
                    text-decoration: underline;
                }
            </style>
            <h2 class="interesting-links__title">But how about...</h2>
            <p class="interesting-links">
                <a href="https://www.theguardian.com/travel/2017/mar/02/lomond-wild-camping-ban-start-slippery-slope">Loch Lomond’s wild camping ban is a backwards and short-sighted step</a><br />
                <a href="http://www.scotsman.com/lifestyle/culture/new-vision-to-spark-scottish-tourism-boom-is-unveiled-1-4338566">New vision to spark Scottish tourism boom is unveiled</a><br />
                <a href="http://www.bha.org.uk/bha_news/tax-will-damage-tourism-in-scotland-say-tourism-chiefs/">Tax will damage tourism in Scotland, say tourism chiefs - BHA</a>
            </p>
        </div>
        {% endif %}

        <div style="text-align: center; max-width: 800px; padding-left: 10px; padding-right: 10px; padding-top: 25px; margin-left: auto; margin-right: auto" >
            <h3 style="font-size: 18px; opacity: 0.7">Explore their recent follows...</h3>
            {% for friend in friends %}
                <a href="topic?username={{ friend.screen_name }}&topic={{ topic }}">
                    <img style="border-radius: 50%; margin: 10px; border: solid 1px white;" src="{{ friend.profile_image_url_https }}" alt="{{ friend.screen_name }}"/>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
